@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #e8f3ff, #ffffff);
}

/* app */
#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  height: 640px;
  padding: 1.5rem;
  position: relative;
  background-color: #fff;
  background-image: url(../images/health-quiz.png);
  background-size: cover;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 1.5rem;
  z-index: 1;
}

#app .main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#app .main-page .main-txt {
  width: 100%;
  height: 7.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .main-page .main-txt h2 {
  font-size: 24px;
  color: #222;
}

#app .main-page p {
  font-size: 20px;
  color: #222;
  animation: move 1s infinite alternate;
  font-weight: bolder;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.2);
}

#app > p {
  display: none;
}

#app #quiz-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#app #quiz-page > h3 {
  width: 100%;
  height: 120px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app #quiz-page .quiz {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

#app #quiz-page .quiz .quiz-title {
  width: 100%;
  padding: 1.25rem 1.5rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #007fff;
  color: #fff;
}

#app #quiz-page .quiz .choices {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#app #quiz-page .quiz .choices li {
  width: 100%;
  min-height: 56px;
  padding: 1rem;
  color: #222;
  font-size: 16px;
  border-radius: 1rem;
  background: #e5e5e5;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

#app #quiz-page .quiz .choices li:hover {
  transform: scale(1.05);
  background-color: #c3c3c3;
  border: 1px solid #fff;
  font-size: 17px;
}

#app .bg-img {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app #result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#app #result .last-txt {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 34, 34, 0.2);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 7.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#app #result .last-txt h2 {
  color: #222;
  font-size: 24px;
}

#app #result .mid-txt {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 34, 34, 0.2);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 23rem;
}

#app #result .mid-txt h3 {
  color: #222;
  font-size: 50px;
  animation: move 1s infinite alternate;
}

#app #result .mid-txt p {
  color: #222;
  font-size: 24px;
}

#app #result button {
  width: 100%;
  height: 3.5rem;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 1rem;
  background-color: #007fff;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

#app #result button:hover {
  cursor: pointer;
  background-color: #006cd9;
}

#categories ul {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#categories ul li {
  width: 148px;
  height: 148px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#categories ul li:hover {
  transform: scale(1.05);
  font-size: 18px;
  border: 1px solid #fff;
}

#categories ul li:nth-of-type(1) {
  background-color: #007fff;
}
#categories ul li:nth-of-type(1):hover {
  background-color: #006cd9;
}

#categories ul li:nth-of-type(2) {
  background-color: #ff854b;
}
#categories ul li:nth-of-type(2):hover {
  background-color: #d97140;
}

#categories ul li:nth-of-type(3) {
  background-color: #45c191;
}
#categories ul li:nth-of-type(3):hover {
  background-color: #3ba47b;
}

#categories ul li:nth-of-type(4) {
  background-color: #7f3fbf;
}
#categories ul li:nth-of-type(4):hover {
  background-color: #6c36a3;
}

@media all and (max-width: 360px) {
  #app {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
